# Ignore IDE specific files (Eclipse/IntelliJ)
.settings/
.classpath
.project
.idea/
*.iml

# Build output
bin/
target/
test-output/

# Ignore Appium/WinAppDriver logs
*.log
screenshots/

# OS files
.DS_Store
Thumbs.db

# IDE-specific files
*.iml
.idea/
.vscode/

# Ignore Jenkins and Local Workspaces
workspace/
.jenkins/

# Ignore Maven Build artifacts
target/
*.class